* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: black !important;
        }
    }
}

nav {
    #hamb-icon{
        font-size: 25px;
        padding: 20px;
        display: none;
    }
    #right-side {

        // padding: 30px 0;
        ul {
            li {
                padding: 30px 10px;
                font-size: 13px;
                color: #D4D6D6;
                letter-spacing: .05em;
                transition: 0.5s;

                &:hover {
                    color: black;
                }

                .down-arrow {
                    padding: 3px;
                    display: contents;
                }

                .drp-dwn-ul {
                    position: absolute;
                    z-index: 2;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    display: none;
                    padding: 15px;

                    li {
                        padding: 5px 0;
                        color: #D4D6D6;

                        &:hover {
                            color: white;
                        }
                    }
                }

            }

            .active-home {
                color: black;
            }
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        font-size: 13px;
    }

    #logo {
        font-size: 20px;
        font-weight: 700;
        padding: 25px 0;
    }

    #services,
    #dropdown {
        &:hover {
            #services-drp-dwn,
            #dropdown-drp-dwn {
                transform: translate(0, 15%);
                display: block;
            }
        }
    }

}

@media screen  and (max-width: 768px) {
    nav{
        #hamb-icon{
            font-size: 25px;
            padding: 20px;
            display: block;
        }
        #right-side{
            display: none;
        }
        .nav-container{
            max-width: 100% ;
        }

    }

  }

  #sidebar{
    background-color: red;
    width: 270px;
    // height: 100vh;
    position: absolute;

}

// #slider {
//     .carousel-inner{
//         // visibility: hidden;
//     }
//     .carousel-indicators {
//         #carouselExampleIndicators {
//             border-radius: 50%;
//         }
//     }

//     .carousel-control-prev-icon,
//     .carousel-control-next-icon {
//         background-color: black;
//     }
//     // .carousel-caption{
//     //     display: inline-block !important;
//     //     position: absolute ;
//     //     left: 0;
//     // }
// }
