* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: black !important;
        }
    }
}

nav {

    // .container {
    //     .row {
    #right-side {
        ul {
            li {
                padding: 30px 10px;
                font-size: 13px;
                color: #D4D6D6;
                letter-spacing: .05em;
                transition: 0.5s;

                // display: flex;
                &:hover {
                    color: black;
                }

                .down-arrow {
                    padding: 3px;
                }

                .drop-down {
                    background-color: black;
                    border-radius: 5px;
                    color: white;
                    display: block;
                    padding-top: 50px;

                    .drp-dwn-ul {
                        display: block;
                        padding: 15px;
                        li {
                            padding: 5px 0;
                        }
                    }
                }



            }

            .active {
                color: black;
            }
        }
    }

    //     }
    // }


    ul {
        display: flex;
        list-style-type: none;
        font-size: 13px;
    }

    #logo {
        font-size: 20px;
        font-weight: 700;
        padding: 25px;
    }
}