* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: black !important;
        }
    }
}

nav {
    #right-side {
        padding: 30px ;

        ul {
            li {
                padding: 0 10px;
                font-size: 13px;
                color: #D4D6D6;
                letter-spacing: .05em;
                transition: 0.5s;

                &:hover {
                    color: black;
                }

                .down-arrow {
                    padding: 3px;
                    display: contents;
                }

                .drp-dwn-ul {
                    position: absolute;
                    z-index: 2;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    display: none;
                    padding: 15px;
                    li {
                        padding: 5px 0;
                        color: #D4D6D6;
                        &:hover{
                            color: white;
                        }
                    }
                }

            }

            .active {
                color: black;
            }
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        font-size: 13px;
    }

    #logo {
        font-size: 20px;
        font-weight: 700;
        padding: 25px 0;
    }

    #services,
    #dropdown {
        &:hover {
            #services-drp-dwn,
            #dropdown-drp-dwn {
                transform: translate(0, 15%);
                display: block;
            }
        }
    }

}